main p {
    text-indent: 1.2rem;
}
nav a {
    color: white;
}
table th {
    border-top: 0!important;
}
main.container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
}
.circular-border {
    border: 1px solid black;
    border-radius: 100%;
}
#senate-data, #house-data {
    background: linear-gradient(to left, #eb510a, #126fc5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.table-filters label {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.table-filters label > input,select {
    margin: 0 0.15rem;
}
.botonera {
    display: flex;
}
.botonera > label {
    align-items: center;
    margin-left: 10px;
}